.forgetPasswordDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* height: 100vh; */
  background-color: #f2dfd8;
  height: 100vh;
  /* border: 2px solid red; */
}


.forgetpwrd-input{
  margin: 20px 0px;
}

.primary-button {
  background-color: gray; /* Default button color */
  cursor: not-allowed;
  margin:  40px 0px;

}

.primary-button-valid {
  background-color: #ff5050; 
  cursor: pointer; 
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 10px;
  width: 100%;
  margin:  40px 0px;

}

.primary-button:disabled {
  background-color: lightgray; /* Disabled button */
  cursor: not-allowed;
}
.forgetpwrd-form-container{
  height: 450px;
  /* border: 2px solid blue; */
  margin: auto 50px;
  background-color: #fff;
  padding: 40px;
  border-radius: 20px;
}
.forgetpwrd-form-container h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

.resetBtn {
  margin: 70px;
}

.back-to-signin p {
  margin-top: 20px;
  font-size: 14px;
  color: #666;
}

.back-to-signin span {
  color: #007bff;
  cursor: pointer;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
}
.spinner2 {
  position: relative;
  top: -70px;
  left: 50%;
  color: red;
}

/* @media screen and (max-width: 300px) {
  .forgetpwrd-form-container {
    width: 100%;
    padding: 10px;
    margin: auto;
    height: auto;
  }

  .forgetpwrd-form-container h2 {
    font-size: 2px;
  }

  .primary-button-valid {
    font-size: 14px;
    padding: 8px 16px;
  }

  .spinner {
    font-size: 14px;
  }
} */

/* Smartphones (max-width: 768px) */
/* @media screen and (max-width: 768px) {
  .forgetPasswordDiv {
    flex-direction: column;
    justify-content: center;
  }

  .main-Container {
    width: 90%;
    margin: auto;
  }

  .forgetpwrd-form-container {
    width: 100%;
    padding: 0px;
    margin: 20px 0;
  }

  .forgetpwrd-form-container h2 {
    font-size: 18px;
  }

  .primary-button-valid {
    font-size: 15px;
  }
} */

/* Tablets (max-width: 1024px) */
@media screen and (max-width: 1024px) {
  .forgetPasswordDiv {
    padding: 0px;
  }

  .main-Container {
    width: 100%;
    margin: ;
  }

  .forgetpwrd-form-container {
    padding: 20px;
    width: 80%;
    margin-left: 2.5rem;
    margin-top: 10rem;
    align-items: center;
  }
  
  
}

/* Default for larger screens */
/* @media screen and (min-width: 1025px) {
  .main-Container {
    max-width: 800px;
    margin: auto;
  }
} */