.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
  }
  
  .pagination li {
    margin: 0 5px;
  }
  
  .pagination a {
    text-decoration: none;
    color: #333;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .pagination a:hover {
    background-color: #ff6e6e;
    color: #fff;
  }
  
  .pagination .active a {
    background-color: #ff6e6e;
    color: #fff;
  }
  